*{
	margin: 0;
	padding: 0;
}

body{
	background-color: $background_body;
	font-family: 'Roboto Condensed', sans-serif;
}

/*seccion nav*/

nav{
	background-color: $color_nav;
}


/*slider*/
.slider .indicators .indicator-item {
    z-index: 2;
    bottom: 100px;
}


/*imagenes y botones de la segunda seccion*/

.contenedor-imagenes{
	margin-top: -100px;
    position: relative;
    z-index: 2;
	text-align: $alineacion_texto;
	h6{
		font-weight: 700;
	}
	button{
		background-color: $color_botones;
		margin-top: 10px;
		@include border-radius-imagenes();
		width: 50%;
	}
	.img-circle{
		@include borde-de-imagenes();
		margin-bottom: 30px;
	}
}


/*tercera seccion*/

.contenedor-seccion-3{
	background-color: $background_seccion_welcome;
	padding-top: 4%;
	padding-bottom: 4%;
	.img-welcome{
		border-radius: 30px;
		padding-left: 0;
	}
	h5{
		@include font-size-h5();
	}
}


/*cuarta seccion*/
.contenedor-seccion-4{
	padding: 3%;
	background-color: $color_nav;
	color: $color_letra_principal;
	hr{
		color: $background_seccion_welcome;
		margin-bottom: 2%;
	}
	h4{
		font-size: 25px;
	}
}

.radius-img{
	@include border-radius-imagenes();
}


/*seccion footer*/

.primer-footer{
	background-color: $background_footer;
	padding-left: 2%;
	h5,p{
		color: $color_letra_principal;
		@include font-size-h5();
	}
	.segundo-footer{
		color: $color_letra_principal;
		.ultimo-footer{
			font-size: 13px;

		}
	}
	.logos{
		border-radius: 60px;
		@include borde-de-imagenes();
		width: 15%;
	}
}


































/*.contenedor-imagenes{
	position: absolute;
    bottom: 5px;
    z-index: 3;
    	
}

.texto{
	position: absolute;
		h6{
			font-weight: 700;
		}
}

input[type=text]:not(.browser-default){
	border-bottom: none;
}

.contenedor-boton{
	position: absolute;
	top: 352px;
		
}

/*seccion tres*/
/*.contenedor-tercera-seccion{
	background-color: #DEE1EE;
	position: relative;
	bottom: -335px;
    height: 63vh;
		.contenedor-imagen{
			z-index: 1;
		}
		.img-welcome{
			border-radius: 50px;
			padding-left: 0;
    		padding-top: 22px;
		}
}

.contenedor-texto-welcome{
	.title-welcome{
		color: #E63A3C;
		padding: $padding_tercera_seccion;
	}
}

.contenedor-texto-welcome{
	padding-top: 20px;
		p{
			padding-top: 2px;		
		}
}

.contenedor-cuarta-seccion{
    position: relative;
    top: 316px;
    background-color: #432D26;
    color: #BF7D56;
    height: auto;
    	.contenedor-imagen{
    	    padding-top: 140px;
    		padding-bottom: 100px;
    	}
    		.img-about{
    			border-radius: 7px;
    		}
    		.img-gift{
    			border-radius: 7px;
    			padding-top: 70px;
    		}
}

/*footer*/
/*.page-footer{
	position: relative;
    top: 296px;
    background-color: #261412;
    color: #BF7D56;
}*/
